/* .background{
background-image:url(./matrice.jpg) ;
height: 700px;
}
.mod{
  display:flex;
  justify-content: center !important;  
  padding-top: 70px;
}
button{
    background-color: #2304aa !important;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
   
      
}
.container{
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;

} */